<main class="main">
  <h1>Our Clients</h1>
  <div>

    <div>
      {{#each customersList}}
      <p class="fio">{{this.firstName}} {{this.lastName}}</p>
      <p class="fio"> Address: {{this.address}}</p>
      <textarea id="comment-textarea" name="body" cols="200" rows="400" class="client_comment"></textarea>
      <button id="add_comment" data-entryid="{{entry.id}}" value="add" class="add_com">Add comment</button>
      {{/each}}
    </div>
    <div>
      {{curCustomer}}
    </div>

  </div>
</main>
