<div class="container">
    <main class="main">
        <div class="order_pro">
            <div class="Order_number">
                <label class="form-label-name">Order number</label> <br>
                <input name="name" type="text" class="form_control" id="exampleInputEmail2" aria-describedby="emailHelp">
                <button id="show_order">Show</button>
            </div>
            <div class="furniture_type">
                <label class="form-label-email">Furniture type- {{this.type}}</label>

            </div>
            <div class="furniture_price">
                <label class="furniture-label-price">Furniture price - {{this.price}}</label> <br>

            </div>
            <div class="furniture_delivery">
                <label class="form-label-delivery-price">Delivery price - {{this.delivery}}</label> <br>

            </div>
            <div class="furniture_assembly">
                <label class="form-label-assembly">Assembly price - {{this.assembly}}</label> <br>
            </div>
            <div class="delivery_date">
                <label class="form-label-delivery-date">Delivery date - {{this.deliverydate}}</label> <br>
            </div>
            <div class="assembly_data">
                <label class="form-label-assembly-date">Assembly date - {{this.assemblydate}}</label> <br>
            </div>
            <div class="status">
                <label class="status_order">Status - {{this.status}}</label> <br>
            </div>
        </div>
    </main>
    
</div>
